

.contentWrapper{
    width:100vw;
    height:100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.header{
    width:100vw;
    height:8vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    width:100vw;
    height:84vh;
}

.footer{
    width:fit-content;
    padding: 0 2vw;
    height:10vh;
    position: absolute;
    bottom:0;
    right:0;
    display: flex;
    justify-content: right;
    align-items: center;
}


.presetTitleWrapper{
    margin-top:15vh;
}

.paragraph {
    margin-top: 3vh;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    }

    .customizeBtnWrapper{
    margin-top:10vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    .customizeBtn{
    padding: 2px 5px;
    margin:0;
    width: fit-content;
    cursor:pointer;
    font-size: 20px;
    }
    