.loading {
  color: #ff430a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingTextWrapper {
  font-size: 3em;
  font-weight: 600;
  width: 38vw;
  height: fit-content;
  margin-bottom: -0.3em;
}

.loadingText {
  display: inline-block;
  margin-right: 0.3em;
  line-height: 0.8em;
}

.loadingTextMotion {
  display: inline-block;
  line-height: 0.8em;
  color: white;
}

.loadingSpinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  color: #ff430a;
  font-size: 3em;
  .logoWrapper {
    width: fit-content;
    height: fit-content;
  }
}
