.wrap {
  display: flex;
}

.hslider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;

  .track {
    top: 20px;
    height: 10px;
  }
  .thumb {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 38px;
  }
  .mark {
    margin: 0 calc(25px - 6px);
    bottom: calc(50% - 6px);
  }
}

.thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;

  &.active {
    background-color: grey;
  }
}

.track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: #f00;
}

.example-track.example-track-2 {
  background: #0f0;
}

.mark {
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
