.loadingSpinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  color: #ff430a;
  font-size: 3em;

  .logoWrapper {
    width: fit-content;
    height: fit-content;
  }
}
