.label {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    position: absolute;
    display: inline-block;
    opacity: 0;
  }
  span {
    font-size: 16px;
    font-weight: 500;
  }

  &.checked {
    background: black;
    span {
      color: white;
    }
  }
}
