.loading {
  color: #ff430a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftWrapper {
  width: 55vw;
  height: fit-content;

  .title {
    font-weight: 500;
    h1 {
      font-size: 60px;
      width: 55vw;
      text-align: right;
      line-height: 1.2;
    }
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 640px) {
  .leftWrapper {
    width: 90vw;
    .title {
      // top: 1.3em;
      // left: 1.5em;

      h1 {
        font-size: 35px;
        margin-left: 0em;
      }
      h2 {
        font-size: 14px;
        width: 70vw;
      }
    }
  }
}
