.leftWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  .title {
    font-weight: 500;
    h1 {
      font-size: 60px;
      width: 55vw;
      text-align: right;
    }
    h2 {
      font-size: 20px;
    }
  }
}

.loading {
  color: #ff430a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .leftWrapper {
    .title {
      top: 1.3em;
      left: 1.5em;
      h1 {
        font-size: 35px;
        margin-left: 0em;
      }
      h2 {
        font-size: 14px;
        width: 70vw;
      }
    }
  }
}
